#body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pageHeader, #pageJumbotron {
    margin-bottom: 0;
    margin-right:0;
    padding-right:0;
}

#holderForLoginPageImage {
    background-image: url("../images/providerMainImage.jpg");
    margin-top: 0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height:100%;
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-right: 0px; 
    padding-left: 0;
}

#row1Login {
    margin-top: 50px;
    margin-bottom: 0px;
    width:100%;
    margin-right:0px;
    margin-left:0px;
}

.row1columns {
    margin-bottom: 25px;
}

#startSeeingHeading {
    color:white;
}

#createAccountCard {
    background-color: rgba(75, 72, 72, 0.616);
    color:white;
}

#topRowOfForm {
    margin-top: 10px;
}

#email-input, #password-input {
    width: 80%;
}


#login_provider_button {
    width: 80%;
}

#create_provider_account {
    width:80%;
}

#row2Login {
    background-color: black;
}

#row1Advertisement {
    background-color: rgb(218, 212, 212);
    margin-top:25px;
    padding:25px;
}

#loginAdvertisementHeaders {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

#loginAdvertisementHeadersPara {
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#howToNumber1, #howToNumber3 {
    font-size:100px;
    font-weight: bolder;
    color: rgb(125, 247, 165);
    text-align:center;
    padding:0;
}

#howToTitle1, #howToTitle3 {
    margin-left: 5px;
    font-size:26px;
    font-weight: bold;
}

#howToInfo1, #howToInfo3 {
    margin-left:5px;
}

#howToPicture1, #howToPicture3 {
    margin-left:5px;
}

#howToPicture2 {
    margin-right:5px;
}

.howToImages {
    max-width: 100%;
    max-height: 100%;
}

#howToNumber2 {
    font-size:100px;
    font-weight: bolder;
    color: rgb(125, 247, 165);
    text-align:center;
    padding: 0;
}

.howToText {
    color: whitesmoke;
}

#howToTitle2 {
    margin-left:5px;
    font-size: 26px;
    font-weight: bold;
}

#row6Advertisement {
    margin-top:60px;
    margin-bottom:25px;
}

#row5Advertisement {
    margin-top:60px;
}

#row4Advertisement {
    margin-top:60px;
}

#row3Advertisement {
    margin-top:60px;
}

#data-validation-message {
    margin-top: 10px;
    margin-bottom:10px;
    color:red;
}

#row1RegistrationImageHolder {
    background-image: url("../images/green_3200x2133.jpg");
    margin-top: 0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height:100%;
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-right: 0px; 
    padding-left: 0;
}

#registrationForm {
    background-color: black;
    margin-bottom: 20px;
    margin-top:20px;
    color: white;
}

#firstRowOfForm {
    margin-top:10px;
}


#lastRowOfForm {
    margin-bottom:10px;
    margin-top:10px;
}

#servicesRow {
    border-style: solid;
    border-color: rgb(24, 23, 23);
    border-width: 1px;
}

#daysRow {
    border-style: solid;
    border-color: rgb(24, 23, 23);
    border-width: 1px;
    margin-top:15px;
}

#data-validation-message {
    margin-top: 10px;
    margin-bottom:10px;
    color:red;
}

#landingPage {
    background-color: black;
    background-image: url("../images/providerMainImage.jpg");
    margin-top: 0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height:100%;
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-right: 0px; 
    padding-left: 0;
}

#left-side-panel {
    margin-left: 25px;
    margin-right:25px;
    margin-top: 75px;
}

#placeholderForLandingPageDisplay {
    color:rgb(245, 182, 182);
    margin-left:25px;
    margin-right: 25px;
    margin-bottom:25px;
    margin-top:50px;
    height:600px;
    overflow:auto;
}

#inbox, #calendar {
    margin-top:15px;
}

#makeSelectionHeader {
    font-size: 30px;
    background-color: rgb(75, 72, 72);
    padding-top:5px;
    padding-bottom:5px;
}

#holderForProfileDisplay {
    display:none;
    background-color: rgba(0, 0, 0, 0.664);
    color:rgb(245, 182, 182);
    margin-left:25px;
    margin-right: 25px;
    margin-bottom:25px;
    margin-top:50px;
    height:600px;
    overflow:auto;
}

.profileAnswers {
    background-color: rgb(75, 72, 72); 
    font-size:22px; 
    color: white;
    margin-top:10px
}

.profileCategories {
    font-size:24px;
}

#servicesRow {
    border-style: solid;
    border-color: rgb(24, 23, 23);
    border-width: 1px;
}

#daysRow {
    border-style: solid;
    border-color: rgb(24, 23, 23);
    border-width: 1px;
    margin-top:15px;
}

#data-validation-message {
    margin-top: 10px;
    margin-bottom:10px;
    color:red;
}


#holderForCalendarDisplay {
    display:none;
}

#holderForInboxDisplay {
    display:none;
}

#holderForUpcomingJobsDisplay {
    display:none;
}

#holderForRequestsDisplay {
    display:none;
}

#holderForPayments {
    display:none;
}



