.jumbo {
    background-color: rgb(75, 72, 72);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(230, 225, 225);
    margin-top:0;
    margin-bottom:0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#clp_map{
    position:absolute;
    right:5%;
    height:60%;
    width: 60%;
}

#plp_map{
    position:absolute;
    right:5%;
    height:60%;
    width: 60%;
}