/*
Stylesheet #1

*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    /* Box-model */
    padding: 20;
  
    /* Positioning */
    margin: 10;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
  
    font-size: 18px;
    line-height: 150%;
    color: #333;
  
    /* Visual */
      background: #cfcc9b;
      background-image: url("../images/Landscaping\ Picture\ 2.jpg");
      background-repeat:no-repeat;
      background-size:100%;
    /* background-color: #cccccc; */
  }
  
  header {
    background: #9beea0;
  }
  
  h1 {
    /* Box-model */
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
  
    /* Positioning */
    margin: 0;
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 28px;
  
    /* Typography */
    color: #eee;
    text-align: center;
  
    /* Visual */
    background: rgb(77, 71, 71);
  }
  
  h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    color: #d21034;
  }
  
  .container {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 20 auto;
  }
  
  #enterButton{
    float: left
  }
  
  #main {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #image {
    /* Box-model */
    width: 10px;
    height: 10px;
  
    /* Positioning */
    margin-right: 20px;
  }
  
  #main_page_map {
                
    height: 70%;
    width: 70%;
    margin:auto auto;
    
  }
  
  #addy{
    width:60%;
    margin:0 auto;
  }

  #clp_map{
    position:absolute;
    right:5%;
    height:60%;
    width: 60%;

}